.index{
    margin: auto;
    background-color: rgb(235, 233, 233);
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // background-size: cover;
    height: 100%;
    width: 100%;
}

.question-index{
    position: absolute;
    // margin: auto;
    right: 335px;
    top: 200px;
}

.question-list{
    position: relative;
    margin: 10px;
    list-style: none;
}
.question-items{
   background-color: white;
   width: 602px;
}
#question-header{
    color:black;
    font-size: 20px;
}

#question-body{
    color:black;
    font-size: 20px;
}



