.create-search{
    position: relative;
    top: 8px;
    right: -630px;
    z-index: 1;
    color: lightgreen;
}

.create-search-index{
    position: relative;
    top:  -75px;
    right: -630px;
    z-index: 1;
    color: lightgreen;
}

.searchBar{
    color: black;
    width: 380px;
    height: 30px;
    background-color: white;
    border-color: lightgray;
}

.searchBar:hover{
    border-color: blue;
}