// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
    width: 100%;
    height: 100%;
}

body{
     width: 100%;
     height: 100%;
}
main{
    width: 100%;
     height: 100%;
}


#Korra{
    font-size: 500%;
     position: absolute;
     bottom: 320px;
     left: 200px;
     color:rgb(192, 34, 34);
     font-family: 'Lobster', cursive;
 
 }

 #motto{
    position: absolute;
    font-size: 130%;
    left: 30px;
    bottom: 330px;
    color: grey;

 }
 input{
     background-color:rgb(235, 231, 231);
    }


.login-home{
    background-image: image-url('korra-back.png');
    width: 100%;
    height: 100%;
}

.index{
    background-image: image-url('korra-white.jpg'); 
    width: 1000px;
    height: 300px;
}



.login-module{
    position: absolute;
    top: 50px;
    right: 300px;
    background-image: image-url('korra-white.jpg');
    width: 600px;
    height: 500px;
    // background-color: white;
    

}

.login-form-box{
    position: absolute;
    left: 350px;
    bottom: 240px;
}


.login-submit{
    position: absolute;
    left: 125px;
    top: 90px;
    background: #3e78ad;
    color: #fff;
    border: 1px solid #3a66ad;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
}

.signup-submit{
    position: absolute;
    left: 167px;
    top: 170px;
    background: #3e78ad;
    color: #fff;
    border: 1px solid #3a66ad;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
}

.signup-button{
    position: absolute;
    left: 20px;
    bottom: 100px;
    background: none;
    border: none;
    padding: 0;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.signup-form-box{
    position: absolute;
    left: 20px;
    bottom: 150px;
}

.signup-lastName{
    position: absolute;
    left: 120px;
    bottom: 100px;
    width: 100px;
}
.signup-att{
    width: 220px;
}
.signup-firstName{
    position: absolute;
    bottom: 100px;
    width: 100px;
}

.footer{
    background-color: rgb(228, 228, 228);
    // height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-weight: normal;
    font-size: 100%;
    white-space: nowrap;
    justify-content: space-between;
    list-style-type: none;
}

#login-footer{
  
    bottom: 5px;
    list-style-type: none;
    display: flex;
    font-weight: normal;
    font-size: 80%;
    justify-content: space-around;
}
.demo-button{
    background-color:  #3e78ad;
    position: absolute;
    left: 350px;
    bottom: 210px;
    border: 1px solid #3a66ad;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
    color: #fff;
    font-size: 80%;

}

#first-name{
    font-weight: normal;
    font-size: 100%;
    white-space: nowrap;
    position: absolute;
    bottom: 105px;
    left: 0px;

}

#last-name{
    font-weight: normal;
    font-size: 100%;
    white-space: nowrap;
    position: absolute;
    bottom: 100px;
    left: 120px;

}

#login-att{
    font-weight: bold;
    font-size: 100%;
    position: absolute;
    bottom: 40px;
    left: 1px;
}

#signup-att{
    font-weight: bold;
    font-size: 100%;
    position: absolute;
    bottom: 120px;
    left: 0px;
}


.login-errors{
    position: absolute;
    top: 100px;
    right: -5px;
}
.signup-errors{
    position: absolute;
    top: 100px;
    right: -5px;
}
#error{
    list-style-position:inside;
   color: rgb(243, 71, 71);
   /* display: inline; */
   display: block;
   border: 1px solid rgb(243, 71, 71);
   font-size: 90%;
   width: 200px;
}
.error-link{
    color: rgb(243, 71, 71);
    position: absolute;
    right: 45px;
    top: 34.5px;
    background: none;
    border: none;
    margin: none;
    padding: 0;
    font-family: arial, sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

li a{
    color: rgb(243, 71, 71);
    
}
