.show-item{
    margin: auto;
    position: relative;
    left: -230px;
    top: 150px;
    // background-color: white;
    font-size: 23px;
    width: 602px;
    font-weight: bolder;
 }
 
