// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal-main {
    display: none; 
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%; 
    height: 300%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    position: fixed;
    // margin: auto;
    top: -100px;
    right: 325px;
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 600px; 
    height: 450px;
    border-radius: 20px;
  }
  .tips{
    position: relative;
    top: -50px;
    left: 10px;
    background-color: hsl(227, 53%, 93%);
    height: 120px;
    width: 510px;
  }

  .question-submit{
    background-color: blue;
    color: white;
    border-radius: 56px;
    width: 140px;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    display: inline-block;
    position: relative;
    right: -480px;
    top: 2px;
  }

  #tips{
    position: relative;
    top: 15px;
    left: 20px;
    font-size: 17px;
    color: rgb(36, 36, 243);
  }
  .tip-list{
    font-size: 16px;
    color: rgb(36, 36, 243);
    font-weight: lighter;
  }
  #who-asked{
    position: relative;
    left: 15px;
    top: -10px;
    font-size: 16px;
    color: #939598;
  }
  #ask-q-text {
    resize: none;
    font-size: 15px;
    padding: 10px;
    height:38px;
    min-height: 38px;
    width: 550px;
    box-sizing: border-box;
    // overflow: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
   
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }

  .x {
    z-index: 1;
    position: relative;
    right: -440px;
    top: -20px;
    color: black;
    // float: right;
    font-size: 24px;
    // font-weight: bold;
    border: none;
    background: none;
    
  }
  .close-button{
    z-index: 2;
    position: relative;
    top: 422px;
    left: 345px;
    background: none;
    color:grey;
    font-weight: bolder;
    border-radius: 56px;
    width: 100px;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    display: inline-block;
    

  }
  .grey-top{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    position: relative;
    top: -82px;
    right: 21px;
    background-color: #dee0e1;
    width: 641.5px;
    height: 50px;
  }
  .module-footer{
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    position: relative;
    bottom: -89px;
    left: -21px;
    background-color: #dee0e1;
    width: 640.5px;
    height: 50px;
  }

  #ask-q{
    position: relative;
    top: 12px;
    color: #b92b27;
    font-size: 20px;
    white-space: nowrap;
    width: 100%;
    text-indent: 20px;

  }
  .ask{
      position: absolute;
      top: 60px;
      right: 650px;
      width: 300px;
      height: 100px;
  }

.inner-ask-button{
    position: relative;
    top: 45px;
    font-weight: bold; 
}

.button-username{
  position: relative;
    top: 10px;
    left: 42px;
    font-size: 16px;
    font-weight: lighter;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close-button:hover{
  background-color: lightgrey;
}