.edit-module-footer{
    position: relative;
    bottom: -256px;
    left: -21px;
    background-color: #dee0e1;
    width: 640.5px;
    height: 50px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.edit-x {
    z-index: 1;
    position: relative;
    right: -440px;
    top: -20px;
    color: black;
    // float: right;
    font-size: 24px;
    // font-weight: bold;
    border: none;
    background: none;
    
}
.edit-close{
    z-index: 2;
    position: relative;
    top: 442px;
    left: 345px;
    background: none;
    color:grey;
    font-weight: bolder;
    border-radius: 56px;
    width: 140px;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    display: inline-block;
  }

  #edit-text{
    resize: none;
    min-height: 70px;
    max-height: 100px;
    font-size: 15px;
    padding: 10px;
    // height:38px;
    // min-height: 38px;
    width: 550px;
    box-sizing: border-box;
    // overflow: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }


   
.drop-button{
    position: absolute;
    top: 140px;
    left: 650px;
    border: none;
    background-color: #ebe9e9;
    padding: 2px;
}

.dropdown-list{
    list-style: none;
    width: 50px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 1px;
    background-color: rgb(192, 34, 34);
    height: 55px;
    text-align: center;
    // border-radius: 10px;

   
}
.drop-item{
    position: relative;
    top: 10px;
    left: -5px;
    // color:  #939598;
    margin: 10px;
    width: 50px;
    color: white;
    text-indent: -10px;
    
}

.drop-item:hover{
    position: relative;
    left: -10px;
    background-color:  #ebe9e9;
    width: 50px;
    height: 15px;
    color:  rgb(192, 34, 34);
    
}





