.index{
    margin: auto;
    background-color: rgb(235, 233, 233);
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // background-size: cover;
    height: 100%;
    width: 100%;
}
.splash{
//     position: relative;
    margin: auto;
    font-family: 'Roboto', sans-serif;
//     top: -150px;
}

.question-index{
    // position: relative;
    margin: auto;
    // right: -300px;
    // top: 300px;
    width: 100%;
}
.alone{
    display: none;
    position: relative;
    top: -40px;
    border: none;
    background-color: white ;
    padding: 2px;
    // z-index: 1;

}
.ask-q{
    position: relative;
    top: 90px;
    margin: auto;
    width: fit-content;
}
.ask-q-button{
    padding-right: 300px;
    padding-left: 300px;
    padding-bottom: 60px;
    font-weight: normal;
    border: 1px solid white;
    font-size: 18px;
    text-align: left;
    background-color: white;
    white-space: nowrap;
    text-indent: -320px;
    color: #939598;
    border-radius: 8px;
    width: 600px;
  }

.question-list{
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 90px;
    padding: 0px;
    // position: relative;
    margin: auto;
    list-style: none;
    width: fit-content;
}
.question-items{
    box-sizing: border-box;
   width: 603px;
   height: 100px;
   overflow-wrap: break-word;
}
.question-items{
    min-height: 100px;
    background-color: white;
    height: 100%;
    padding: 2px;
    padding-top: 15px;
    padding-bottom: 25px;
    margin: 10px;
    width: 600px;
    word-wrap: break-word;
    border-radius: 8px;
    // overflow-wrap: break-word;

}


.question-link{
    // text-align: center;
    z-index: 1;
    position: relative;
    left: 30px;
    top: 10px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    padding-right: 5px;
    // width: 20px;
   
    // overflow-wrap: break-word;
    // word-wrap: break-word
}

.question-index-body{
    word-wrap: break-word;
    max-width: 550px;
}

.question-link:hover{
    text-decoration: underline;
}
.question-answer{
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 25px;
    left: 30px;
}

#user-circle{
    position: relative;
    top: 45px;
    left: 30px;
    font-size: 40px;
}

#q-author-name{
    position: relative;
    // top: -70px;
    left: 80px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    // margin: 1px;
}

.no-answer{
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 17px;
    top: 15px;
    left: 30px;
}


