.index{
    margin: auto;
    background-color: rgb(235, 233, 233);
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // background-size: cover;
    height: 100%;
    width: 100%;
}

.question-index{
    position: absolute;
    // margin: auto;
    right: 330px;
    top: 150px;
}
.alone{
    display: none;
    position: relative;
    top: -40px;
    border: none;
    background-color: white ;
    padding: 2px;
    // z-index: 1;

}

.question-list{
    position: relative;
    margin: 10px;
    list-style: none;
}
.question-items{
    // display: flex;
//   flex-flow: column wrap;
    box-sizing: border-box;
//    background-color: white;
   width: 603px;
   height: 100px;
   
   overflow-wrap: break-word;
}
.question-items{
    min-height: 140px;
    background-color: white;
    height: 100%;
    padding: 6px;
    padding-top: 15px;
    padding-bottom: 25px;
    margin: 10px;
    width: 600px;
    word-wrap: break-word;
    // overflow-wrap: break-word;

}


.question-link{
    // text-align: center;
    z-index: 1;
    position: relative;
    // left: 0px;
    top: 40px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    // width: 20px;
    // overflow-wrap: break-word;
    // word-wrap: break-word
}
.question-link:hover{
    text-decoration: underline;
}
.question-answer{
    position: relative;
    top: 30px;
}
.no-answer{
    position: relative;
    top: -10px;
}
#index-header{
    position: absolute;
    top: -70px;
    left: 30px;
    font-size: 17px;
    // margin: 1px;
}

.no-answer{
    position: relative;
    font-size: 17px;
    top: 60px;
    // left: 30px;
}


