/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1{
    font-size: 450%;
     position: absolute;
     bottom: 350px;
     left: 200px;
     color:darkred;
 
 }

 h2{
    position: absolute;
    font-size: 130%;
    left: 20px;
    bottom: 330px;
    color: grey;

 }

 body {
    position: absolute;
    left: 300px;
    width: 600px;
    height: 500px;
    border: 10px solid green;
    
   
  }

.login-form-box{
    position: absolute;
    left: 350px;
    bottom: 200px;
}



.login-submit{
    position: absolute;
    left: 200px;
}

.signupLink{
    position: absolute;
    left: 20px;
    bottom: 100px;
}

.signup-form-box{
    position: absolute;
    left: 20px;
    bottom: 150px;
}

.signup-lastName{
    position: absolute;
    left: 120px;
    bottom: 100px;
    width: 100px;
}
.signup-att{
    width: 220px;
}
.signup-firstName{
    position: absolute;
    bottom: 100px;
    width: 100px;
}

h3{
    font-weight: normal;
    font-size: 100%;
    white-space: nowrap;
    position: absolute;
    bottom: 105px;
    left: 0px;

}

h4{
    font-weight: normal;
    font-size: 100%;
    white-space: nowrap;
    position: absolute;
    bottom: 100px;
    left: 120px;

}



