.answer-index{
    position: relative;
    margin: auto;
    // left: 150px;
    top: 100px;
    background-color: white;
    width: 600px;
    height: fit-content;
    padding: 15px;

}
.answer-index-list{
    position: relative;
    list-style: none;
    
}

.answer-index-items{
    position: relative;
    left: -40px;
    border-bottom: 1px solid grey;
    width: 600px;
    // height: fit-content;
   
}
.a-index-content{
    position: relative;
    left: 20px;
}

.index-modal{
    display: none;
    position: relative;
}



.number-link{
    position: relative;
    bottom: 10px;
    color: grey;
    font-size: 15px;
    text-decoration: none;
}

.number-link:hover{
    text-decoration: underline;
}

.no-answer-link{
    position: relative;
    bottom: 10px;
    color: grey;
    font-size: 15px;
    text-decoration: none;
}

.no-answer-link:hover{
    text-decoration: underline;
}
.question-index-link-p{
    word-wrap: break-word;
    max-width: 550px;
   
}

.question-index-link{
    // position: relative;
    // top: 10px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bolder;
}

.question-index-link:hover{
    text-decoration: underline;

}