

.answer-list{
    position: relative;
    top: 90px;
    left: 55px;
    list-style: none;

}
.thin-line{
    width: 100%;
    color:rgb(192, 34, 34);
    height: 15px;
}
#answer-header{
    position: relative;
    font-size: 16px;
    // top: -50px;
    // margin-top: 10px;
}

#answer-body{
    position: relative;
    // top: 50px;
    width: 550px;
    overflow-wrap: break-word;
}
.edit-dropdown{
    position: relative;
    top: -50px;
    left: 400px;
    // z-index: 99;
    padding: 10px;
}