.answer-index{
    position: relative;
    margin: auto;
    // left: 150px;
    top: 100px;
    background-color: white;
    width: 600px;
    height: fit-content;
    // padding: 15px;

}
.answer-index-list{
    position: relative;
    list-style: none;
    
}

.answer-index-items{
    position: relative;
    left: -40px;
    border-bottom: 1px solid rgb(235, 233, 233);;
    width: 600px;
    // height: fit-content;
   
}
.a-index-content{
    position: relative;
    left: 20px;
}

.index-modal{
    display: none;
    position: relative;
}



.number-link{
    position: relative;
    bottom: 10px;
    color: grey;
    font-size: 15px;
    text-decoration: none;
}

.number-link:hover{
    text-decoration: underline;
}

.no-answer-link{
    position: relative;
    bottom: 10px;
    color: grey;
    font-size: 15px;
    text-decoration: none;
}

.no-answer-link:hover{
    text-decoration: underline;
}
.question-index-link-p{
    word-wrap: break-word;
    max-width: 550px;
   
}

.question-index-link{
    // position: relative;
    // top: 10px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bolder;
}

.question-index-link:hover{
    text-decoration: underline;

}
#a-index-top-header{
    position: relative;
    left: 30px;
    top: 10px;
    color: grey;
    font-weight: lighter;
}
.a-index-top{
    position: relative;
    top: -20px;
    width: 600px;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid rgb(235, 233, 233);;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}

.a-index-bottom{
    position: relative;
    bottom: -20px;
    width: 600px;
    height: 40px;
    background-color: white;
    border-top: 1px solid rgb(235, 233, 233);;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}