
.answer-box{
  height: 100px;
}

.answer-modal {
    display: none; 
    position: relative;
    height: 200px;
    z-index: 3;
    left: -5px;
    top: -35px;
    width: 600px; 
    height: 350px; 
    overflow: hidden; 
    // background-color: rgb(0,0,0); 
    // background-color: rgba(0,0,0,0.4);
  }

  .answer-modal-content {
    position: relative;
    left: 20px;
    top: -150px;
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 200px; 
    height: 200px;
    border-radius: 20px;
  }
  .answer-red-top{
    width: 550px;
    height: 80px;
    // background-color: rgb(192, 34, 34);
    background-color: lightgray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .answer-footer{
    position: relative;
    bottom: 17px;
    width: 550px;
    height: 50px;
    // background-color: rgb(192, 34, 34);
    background-color: lightgray;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  #answer-text{
    position: relative;
    top: -10px;
    resize: none;
    min-height: 180px;
    max-height: 100px;
    font-size: 13px;
    padding: 10px;
    // min-height: 38px;
    width: 550px;
    height: 200px;
    box-sizing: border-box;
    // overflow: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }

  #create-a-user-circle{
    position: relative;
    top: 15px;
    left: 20px;
    font-size: 40px;

}
  #who-answered{
    position: relative;
    left: 70px;
    top: -30px;
      color: white;
      font-size: 15px;
      font-weight: lighter;
      border: none;
  }
  .answer-button{
    background-color:blue;
    color: white;
    border-radius: 66px;
    border: none;
    width: 60px;
    height:20px;
    text-align: center;
    text-decoration: none;
  }

  .answer-submit{
    background-color: blue;
    color: white;
    border-radius: 66px;
    width: 80px;
    height: 33px;
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    margin: 4px 2px;
    display: inline-block;
    position: relative;
    right: -10px;
    top: 5px;
    text-align: center;
  }

  .answer-x{
    color: white;
    position: relative;
    left: 500px;
    top: 50px;
    font-size: 24px;
    // font-weight: bold;
    padding: 10px;
    border: none;
    z-index: 1;
    background: none;
  }